<h1>Welcome to Jazz Robot</h1>
<p>I built Jazz Robot to help musicians improve in the most efficient way possible.</p>
<br>
<p>by Adam Czerepinski 2015</p>
<br>
<p>(Links to Github and stuff like that)</p>