<div class="content">
  <div class="center-center">
    <h1>MASTER ALL 12 KEYS </h1>
    <button class="btn btn-white"><a href="<%= songs_path %>">GET STARTED</a></button>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p>Jazz Robot &copy 2015 <a href="http://www.adamcz.com" target="_blank">Adam Czerepinski</a></p>
  </div>
</footer>