<h1>Welcome to Jazz Robot</h1>
<p>I'm building Jazz Robot to help musicians improve in the most efficient way possible.</p>
<br>
<p>The site is "pre-release" and undergoing constant development.</p>
<br>
<p>For more info about me, <a href="http://www.adamcz.com">visit my website.</a></p>
<br>
<p>- Adam Czerepinski, 2015</p>