<div class="content">
  <h1>MASTER PLAYING IN ALL 12 KEYS </h1>
  
  <p class="about">Jazz Robot is your personal assistant in the practice room. Practice songs in any of the 12 keys, or bypass chord changes and read directly from functional analysis.</p>
  <br>
  <p>Jazz Robot is "pre-release" and undergoing constant development by <a href="http://www.adamcz.com">Adam Czerepinski</a>.</p>
</div>