<div id="keys">
  <button class="btn btn-primary col-xs-2 col-md-1">A</button>
  <button class="btn btn-primary col-xs-2 col-md-1">Bb</button>
  <button class="btn btn-primary col-xs-2 col-md-1">B</button>
  <button class="btn btn-primary col-xs-2 col-md-1">C</button>
  <button class="btn btn-primary col-xs-2 col-md-1">Db</button>
  <button class="btn btn-primary col-xs-2 col-md-1">D</button>
  <button class="btn btn-primary col-xs-2 col-md-1">Eb</button>
  <button class="btn btn-primary col-xs-2 col-md-1">E</button>
  <button class="btn btn-primary col-xs-2 col-md-1">F</button>
  <button class="btn btn-primary col-xs-2 col-md-1">Gb</button>
  <button class="btn btn-primary col-xs-2 col-md-1">G</button>
  <button class="btn btn-primary col-xs-2 col-md-1">Ab</button>
</div>