<div class="content">
  <div class="center-center">
    <h1>JAZZ ROBOT - THE GAME</h1>
    <p>Master jazz harmony. Build an army of jazz cyborgs.</p>
    <button class="btn btn-white"><a href="<%= game_path(1) %>">LEVEL 1</a></button>
  </div>
</div>
<%= render :partial => 'layouts/footer' %>