/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 */



h1 {
  font-family: 'Montserrat', sans-serif;
}

.chords {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3em;
  line-height: 2.25em;
  margin: 0 2% 0 2%;
}

.indent {
  margin-left: 20px;
}

nav {
  font-family: $titles;
}

.navbar {
  background-color: #fff;
  border-color: #AA6C39 ;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
a:hover {
  color: #8080B3;
  text-decoration: none;
}

.navbar-default {
  .navbar-brand {
    color: #000;
    }
  }

body {
  background-color: #343477;
  color: #fff;
  height: 100%;
}

.content {
  text-align: center;
  margin-top: 60px;
}

.about {
  margin: 40px 20px;
}

.btn {
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  color: #343477;
  background-color: #fff;
  border-color: #1A1A59;
}
.btn-primary:hover {
  background-color: #343477;
  border-color: #1A1A59;
}
.btn-success {
  background-color: #09093B;
  border-color: #1A1A59;
}
.btn-success:hover {
  background-color: #343477;
  border-color: #1A1A59;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }

  .chords {
    font-size: 1em;
    line-height: 2em;
    margin: 0 1% 0 1%;
  }

  .indent {
  margin-left: 15px;
}
}

@media screen and (max-width: 600px) {
  .chords {
    font-size: 0.8em;
    line-height: 2em;
    margin: 0 1% 0 1%;
  }
  .indent {
  margin-left: 5px;
}
}


