// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chords span {
  height: 55px;
}

.song-index-container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px #000 solid;
}

.song-index-container h3 {
  margin: 0;
  color: #444;
  font-family: 'Montserrat', sans-serif;

}

.songs-list {
  margin-top: 15px;
}

.song-link a{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
}

.nav .filter-category a {
  color: #888;
  padding: 5px 15px;
}

.song-index-container .filter-category.active a {
  color: #000;
}

.nav-tabs li {
  color: #444; 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  margin: 10px;
}

.btn-filter {
  background-color: #8080B3;
  margin: 5px;
  border: 1px #000 solid;
  font-size: 0.9em;
}

.btn-filter:hover {
  color: #fff;
  background-color: #343477;
  margin: 5px;
}